


.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-center{
    text-align: center;
}
.section-title{
color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.section-description{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;

}
.secondery-bg{
    background-color: rgb(255, 248, 243);
}
.btn{
    color: white;
    border-radius: 5px;
    border: none;
    background: rgb(253, 110, 10);
    font-size: 20px;
    font-weight: 70px;
    padding: 15px 28px;
    cursor: pointer;

}
.text-primay{
    color: rgb(253, 110, 10);
}
.dark-2{
    color: rgb(71, 71, 71);
}


/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}

nav ul li {
    list-style: none;
}
nav li a{
font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
}
nav ul{
    display: flex;
    gap: 40px;
}
ul{
    display: flex;
    align-items: center;
}

/* bannar style */
.header{
    background-image: url(../media/images/developer.png) ,url(../media/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.bannar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 38px 0px 200px;
}
.bannr-container{
    max-width: 585px;
}

.bannar-greeding{
color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 40px;
font-weight: 400;
margin: 0px;
}
.bannar-title{
color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 72px;
font-weight: 700;
margin-top: 0px;

}
.bannar-description{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
margin-bottom: 40px;

}

/* About */
main{
    max-width: 1140px;
    margin: 0px auto;
}
.about{
    padding: 131px 157px;
    text-align: center;
    margin: 230px 130px;
    border: 1px solid black;

}
.about-items{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

/* what I Do section start */
.skils{
    margin-bottom: 130px;
}
.skil-container{
    display: flex;
    gap: 24px;
    padding: 20px;
    
}
.skil{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume Section */
.resume{
    margin-bottom: 120px;
}
.resume-container{
    display: flex;
    gap: 100px;
}
.resume-container-title{
color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 30px;
font-weight: 700;
line-height: 41px;
letter-spacing: 0%;
}

.resume-container-subtitle{
color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 25px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
}

.resume-container-sub-description{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0%;

}

.resume-container-description{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
}
.resume-btn{
    margin-top: 20px;
}
/* Resume Section End */

/* footer section start */
footer{
    padding: 130px 260px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
height: 64px;
margin-bottom: 24px;
display: block;
border: none;
width: 100%;
padding: 10px 20px;



}
